.error {
    color: red;
    font-weight: normal;
}

.field-optional {
    font-weight: normal;
}

.group-hidden {
    display: none;
}

#step-5-next-throbber {
  margin-top: 15px;
}

.datepicker table tr td.day {
  color: #8CC640;
}

.datepicker table tr td.day.old, .datepicker table tr td.day.new {
  color: #999999;
}

.datepicker table tr td.day.disabled:not(.old) {
  color: #00A5C7;
}

.alert-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
  box-sizing: border-box;
}

.alert {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #8CC640;
  padding: 1em;
  margin: 10% auto;
  width: 40%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 480px) {
  .alert {
    margin: 30% 5% 0 5%;
    width: 90%;
  }
}

.alert-body {
  margin-bottom: 1em;
}

.alert-ok {
  background-color: #06a5c8;
  padding: 1em;
  text-align: center;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: auto;
  cursor: pointer;
  cursor: hand;
}

/* http://css-spinners.com/css/spinner/throbber.css */
@-moz-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}

.affiliateName, .hoverText {
  color: #00A5C7;
}

.group-bundles {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.group-bundles .product {
  flex: 1;
  min-width: 180px;
  max-width: 300px;
  width: auto !important;
}

.page-template-page-order-form footer .col-md-4 {
  width: 100% !important;
}

.page-template-page-order-confirmation footer .col-md-4 {
  width: 100% !important;
}

/*.ui-widget-content[aria-hidden="true"] {
    display: block !important;
    height: 0px;
    overflow: hidden;
}
.ui-widget-content[aria-hidden="false"] {
    display: block !important;
    height: auto;
}
*/


/* Custom bundles on calculator form */

/* Give some padding around each item */
.group-custom-bundle .row .col-sm-4 .inner-border {
  padding: 10px;
}

/* Hide the image */
.group-custom-bundle .row .col-sm-4 .col1 {
  display: none;
}

/* Make the item title and other labels grey */
.group-custom-bundle .row .col-sm-4 .col2 h3,
.group-custom-bundle .row .col-sm-4 .col4 h5 {
  color: #b4b4b4;
  font-size: 20px;
  padding: 10px 0;
  margin: 1em 0;
}

/* Make the 'quantity' label have less padding */
.group-custom-bundle .row .col-sm-4 .inner-border label {
  padding: 0;
}

/* Make the pricing info stand out */
.group-custom-bundle .row .col-sm-4 .col3 h5, .group-custom-bundle .row .col-sm-4  .col3 .product-price{
  font-size: 32px;
  font-weight: bold;
  color: #18a8c7;
  line-height: 1.2em;
}

#card-element{
  height: 44px;
  width: 100%;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease,-webkit-box-shadow .2s ease;
  background: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 20px;
  padding: 19px 16px 35px 16px;
  border-radius: 6px;
  border: 1px solid #C6C8CA;
}

#card-errors{
  margin-bottom: 30px;
}
.tip-row{
  margin-top: 20px;
  margin-bottom: 20px;
}
.tip-row .row label{
  display: inline-block;
  margin: 2%;
  width: 88%;
}

#order-summary .order-tip .pricing-price {
  display: inline-block;
  padding: 5px 0 0 10px;
  font-size: 22px;
  font-weight: 600;
  color: #b4b5b4;
}

.pl-15{
  padding-left: 15px;
}

